@page "/EmployeeInformation"
@using DemoShared.Constants;
@using DemoShared.Models.Entities


<div class="content-area2 maxheight">
    <div class="card card-cus-size-width mb-4">
        <div class="card-header">
            @Common.Header.EMPLOYEE_MASTER_MANAGEMENT
        </div>
        <div class="card-body mt-3">
            <div class="form-group row pb-2">
                <label class="col-sm-3">
                    @EMPLOYEE_INFORMATION
                </label>
            </div>
            <div class="form-group row pb-5">
                <label class="col-sm-3">
                    <input type="text" class="form-control" id="company">
                </label>
            </div>
            <div class="form-group row pb-2">
                <Grid TItem="EmployeesModel"
                      Class="table table-hover table-bordered"
                      DataProvider="EmployeesDataProvider"
                      AllowSelection="true"
                      AllowSorting="true"
                      SelectionMode="GridSelectionMode.Multiple"
                      HeaderRowCssClass="bg-secondary bg-opacity-10 border-bottom-0"
                      SelectedItemsChanged="OnSelectedItemsChanged"
                      Responsive="true"
                      EmptyText="No records to display">

                    <GridColumn TItem="EmployeesModel" HeaderText=@TECH_ID PropertyName="Id" HeaderTextAlignment="Alignment.Center" SortKeySelector="item => item.emp_no">
                        @context.emp_no
                    </GridColumn>
                    <GridColumn TItem="EmployeesModel" HeaderText=@COMPANY_NUMBER PropertyName="Name" HeaderTextAlignment="Alignment.Center" SortKeySelector="item => item.company_id">
                        @context.company_id
                    </GridColumn>
                    <GridColumn TItem="EmployeesModel" HeaderText=@IDENTITY PropertyName="Designation" HeaderTextAlignment="Alignment.Center" SortKeySelector="item => item.emp_name">
                        @context.emp_name
                    </GridColumn>
                    <GridColumn TItem="EmployeesModel" HeaderText=@NAME_KATANA PropertyName="DOJ" HeaderTextAlignment="Alignment.Center" SortKeySelector="item => item.emp_name_kana">
                        @context.emp_name_kana
                    </GridColumn>
                    <GridColumn TItem="EmployeesModel" HeaderText=@GENDER PropertyName="IsActive" HeaderTextAlignment="Alignment.Center" SortKeySelector="item => item.sex">
                        @context.sex
                    </GridColumn>
                    <GridColumn TItem="EmployeesModel" HeaderText=@REGIST_BY PropertyName="IsActive" HeaderTextAlignment="Alignment.Center" SortKeySelector="item => item.created_at">
                        @context.created_at
                    </GridColumn>
                    <GridColumn TItem="EmployeesModel" HeaderText=@UPDATE_BY PropertyName="IsActive" HeaderTextAlignment="Alignment.Center" SortKeySelector="item => item.updated_at">
                        @context.updated_at
                    </GridColumn>
                    <GridColumn TItem="EmployeesModel" HeaderText=@DATE_BIRTH PropertyName="IsActive" HeaderTextAlignment="Alignment.Center" SortKeySelector="item => item.birthday">
                        @context.birthday
                    </GridColumn>
                    <GridColumn TItem="EmployeesModel" HeaderText=@DATE_HIRE PropertyName="IsActive" HeaderTextAlignment="Alignment.Center" SortKeySelector="item => item.hire_date">
                        @context.hire_date
                    </GridColumn>
                    <GridColumn TItem="EmployeesModel" TextAlignment="Alignment.Center">
                        <Button Color="ButtonColor.Primary">@Common.Label.EDIT</Button>
                    </GridColumn>
                </Grid>
            </div>
        </div>
    </div>
</div>